@import "variables";

.container {
  display: flex;

  .auth-form {
    margin: 120px 0;

    .auth-title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: $light-blue;
      margin-bottom: 40px;
    }

    .auth-inputs {
      margin-bottom: 40px;

      .auth-input {
        margin-bottom: 5px;

        .auth-input:last-child {
          margin-bottom: 0;
        }
      }

      .auth-checkbox {
        width: 422px;
        margin-top: 10px;
        display: flex;
        align-items: baseline;

        input {
          margin: 0;
        }

        label {
          font-size: 14px;
          line-height: 130%;
          margin-left: 10px;

          a {
            color: $light-blue;
            text-decoration: none;
          }
        }
      }
    }

    .auth-button {
      button.button {
        width: 422px;
      }
    }

    .auth-link {
      margin-top: 10px;
      font-size: 14px;

      a {
        color: $light-blue;
        text-decoration: none;
        margin-left: 7px;
      }
    }
  }
}
